rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access only to wethreebiz@gmail.com, write access to all
    match /{document=**} {
      allow read: if request.auth != null && request.auth.token.email == 'wethreebiz@gmail.com';
      allow write: if true;
    }
  }
}
